 /*==========================
import Styles
==========================*/
 @import "variables";
 @import "flickity";
 @import "fonts";
 @import "../../node_modules/bootstrap/scss/bootstrap";

 /*==========================
Common Styles
==========================*/
 img {
     width: auto;
     height: auto;
     max-width: 100%;
     transition: all 400ms linear;
 }

 a,
 a:hover {
     text-decoration: none;
 }

 svg,
 a {
     transition: all 400ms linear;
 }

 body {
     font-family: $font;
     font-size: 16px;
     line-height: 24px;
 }

 h1 {
     font-size: 40px;
     font-family: 'Oswald',
         sans-serif;
     line-height: 53px;
 }

 .container {
     max-width: 1200px;
 }

 .btn {
     padding: 10px 20px;
     font-size: 15px;
     transition: all 400ms linear;
 }

 .btn-info {
     background: $dark-blue;
     border: 1px solid $blue;
     border-radius: 2px;
     color: $white;

     &:hover {
         background-color: $blue;
         color: $white;
     }
 }

 .btn-primary {
     background: $white;
     border-radius: 2px;
     border-color: $trans;
     color: #528FF0;

     &:hover {
         background-color: $dark-blue;
         color: $white;
         border-color: $white;

         svg {
             transform: translateX(5px);

             path {
                 fill: $white;
             }
         }
     }
 }

 .btn-secondary {
     background: rgb(133, 208, 127);
     background: linear-gradient(90deg, rgba(133, 208, 127, 1) 37%, rgba(56, 220, 189, 1) 100%);
     color: $white;
     padding: 8px 30px;
     border-radius: 30px;
     border: none;

     &:hover {
         background: rgb(133, 208, 127);
     }
 }

 .header-wrap {
     background: $white;

     header {
         //position: absolute;
         top: 0px;
         left: 0px;
         width: 100%;
         padding: 0px 0px;

         .logo {
             img {
                 width: 40%;
                 margin: 5px 0;
             }
         }

         .menu {
             @media (max-width: 992px) {
                 position: static;
             }

             .navbar {
                 @media (max-width: 992px) {
                     position: static;
                     justify-content: flex-end;
                 }

                 .navbar-toggler {
                     outline: 0px;
                     border: 0px;
                     box-shadow: none;

                     &:not(.collapsed) .line:nth-child(2) {
                         opacity: 0;
                     }

                     &:not(.collapsed) .line:nth-child(1) {
                         transform: translateY(11px) rotate(45deg);
                     }

                     &:not(.collapsed) .line:nth-child(3) {
                         transform: translateY(-11px) rotate(-45deg);
                     }

                     .line {
                         width: 40px;
                         height: 3px;
                         background-color: $green;
                         display: block;
                         margin: 8px auto;
                         -webkit-transition: all 0.3s ease-in-out;
                         -o-transition: all 0.3s ease-in-out;
                         transition: all 0.3s ease-in-out;
                     }


                 }

                 #main-nav {

                     @media (max-width: 992px) {
                         position: absolute;
                         left: 1%;
                         top: 80px;
                         width: 98%;
                         z-index: 999;
                         background: $white;
                         box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
                         padding: 20px;
                     }


                     .navbar-nav {
                         .nav-link {
                             color: $txt-grey;
                             padding: 10px 17px;

                             &:hover {
                                 color: $green;
                             }
                         }
                     }
                 }

             }


         }

         .right-menu {
             .dropdown {
                 margin-right: 15px;

                 button {
                     background-color: $trans;
                     border: 0px;
                     outline: 0px;

                     &:after {
                         display: none;
                     }
                 }
             }

             a {
                 margin-right: 15px;
             }
         }
     }

     .banner {
         padding: 150px 0px;
         perspective: 30px;

         @media (max-width: 992px) {
             padding: 60px 0px;
         }

         .banner-captions {
             @media (max-width: 992px) {
                 text-align: center;

             }

             h1 {
                 color: $white;
                 position: relative;
                 margin-bottom: 30px;

                 &:after {
                     content: '';
                     display: block;
                     width: 24px;
                     height: 4px;
                     background: #58C19C;
                     margin-bottom: 30px;

                     @media (max-width: 992px) {
                         margin-left: auto;
                         margin-right: auto;
                     }
                 }
             }

             p {
                 max-width: 380px;
                 font-size: 18px;
                 line-height: 28px;
                 color: rgba(255, 255, 255, 0.7);
                 margin-bottom: 30px;

                 @media (max-width: 992px) {
                     margin-left: auto;
                     margin-right: auto;
                 }
             }

             a {
                 padding: 8px 30px;
                 border-radius: 30px;
             }
         }

     }
 }

 section.box-tech {
     margin-top: -160px;
     position: relative;

     @media (max-width: 992px) {
         margin-top: 0px;
     }

     .techbox {

         background: $white;
         border-radius: 22px;
         padding: 60px 40px;
         box-shadow: 0px 15px 30px #0000001a;

         &:hover {
             box-shadow: 0px 15px 30px transparent;
         }

         .tech-icon {
             padding-bottom: 30px;

             img {
                 width: 40px;
             }
         }

         h2 {
             font-family: 'Oswald',
                 sans-serif;
             font-size: 22px;
             color: $txt-grey;

         }

         p {
             color: $text-light-gray;
         }

         a {
             color: $txt-grey;
         }
     }
 }

 .welcome {
     padding: 0 0 80px;

     ul {
         padding: 0px;
         margin: 0;

         li {
             list-style: none;
             line-height: 30px;

             img {
                 margin-right: 12px;
             }

             a {
                 color: $txt-grey;
             }
         }
     }

     h3 {
         font-family: 'Oswald',
             sans-serif;
         font-size: 40px;
         font-weight: 400 !important;
         color: $txt-grey;
     }
 }

 .blog {
     background: rgb(133, 208, 127);
     background: linear-gradient(90deg, rgba(133, 208, 127, 1) 37%, rgba(56, 220, 189, 1) 100%);

     .card-body {
         padding: 20px 0px;
     }

     p {
         color: $white;
     }

     a {
         color: $white;
     }

     h4 {
         font-family: 'Oswald',
             sans-serif;
         font-size: 40px;
         font-weight: 400 !important;
         color: $white;
         line-height: 42px !important;
     }
 }

 //ASIDE STRETCH
 .aside-stretch {
     background: rgba($primary, 1);

     &:after {
         position: absolute;
         top: 0;
         right: 100%;
         bottom: 0;
         content: '';
         width: 360%;
         background: rgba($primary, 1);
     }


 }

 .aside-stretch-right {
     background: rgba($primary, 1);

     &:after {
         position: absolute;
         top: 0;
         left: 100%;
         bottom: 0;
         content: '';
         width: 360%;
         background: rgba($primary, 1);
     }


 }


 .ftco-section {
     padding: 12em 0;

     h2 {
         margin-bottom: 0;
     }
 }

 footer {
     padding: 20px 0;
 }

 //FOOTER 06
 .footer-06 {
     padding-top: 0 !important;
     background: #383838;
     position: relative;
     overflow: hidden;
     z-index: 0;

     &:after {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         content: '';
         opacity: .2;
         z-index: -1;
     }


     .subheading {
         color: rgba(255, 255, 255, .3);
         text-transform: uppercase;
         letter-spacing: 2px;
         font-family: 'Oswald',
             sans-serif;
     }

     .heading-section {
         color: $white;
         font-size: 30px;
         font-family: 'Oswald',
             sans-serif;
         text-transform: uppercase;
     }

     .footer-heading {
         font-size: 20px;
         color: $white;
         margin-bottom: 20px;

         .logo {
             color: $white;
         }
     }

     p {
         color: rgba(255, 255, 255, .3);
     }

     a {
         color: $white;
     }

     .list-unstyled {
         li {
             a {
                 color: rgba(255, 255, 255, .5);
             }
         }
     }

     .subscribe-form {
         border-radius: 40px;
         background: $white;
         padding: 3px;

         .form-group {
             position: relative;
             margin-bottom: 0;
             border-radius: 0px;

             input {
                 background: transparent !important;
                 border: none !important;
                 outline: none !important;
                 color: rgba(0, 0, 0, .3) !important;
                 font-size: 16px;
                 height: 56px;
                 border-radius: 0px;

                 &::-webkit-input-placeholder {
                     /* Chrome/Opera/Safari */
                     color: rgba(0, 0, 0, .3) !important;
                 }

                 &::-moz-placeholder {
                     /* Firefox 19+ */
                     color: rgba(0, 0, 0, .3) !important;
                 }

                 &:-ms-input-placeholder {
                     /* IE 10+ */
                     color: rgba(0, 0, 0, .3) !important;
                 }

                 &:-moz-placeholder {
                     /* Firefox 18- */
                     color: rgba(0, 0, 0, .3) !important;
                 }

                 &:focus {
                     outline: none !important;
                     box-shadow: none;
                 }
             }

             .submit {
                 color: $white !important;
                 display: block;
                 width: 150px;
                 height: 56px;
                 font-size: 14px;
                 background: #343434 !important;
                 border: none;
                 letter-spacing: 1px;
                 text-transform: uppercase;
                 border-radius: 40px;

                 &:hover,
                 &:focus {
                     text-decoration: none !important;
                     outline: none !important;
                 }
             }
         }
     }

     .aside-stretch {
         background: #3e3e3e;

         &:after {
             background: #3e3e3e;
             position: absolute;
             top: 0;
             left: 0;
             height: 164px;
             content: '';
             width: 163px;

             @media (max-width: 992px) {
                 display: none;
             }
         }
     }

     .aside-stretch-right {
         background: #343434;

         &:after {
             background: #343434;
             position: absolute;
             top: 0;
             right: 0;
             left: inherit;
             height: 164px;
             content: '';
             width: 163px;

             @media (max-width: 992px) {
                 display: none;
             }
         }
     }
 }


 @media (max-width: 992px) {

     .aside-stretch-right {
         padding-left: 10px !important;
     }
 }