	<footer class="footer-06">
		<div class="container">
			<div class="row align-items-center align-items-stretch mb-5">
				<div class="col-md-4 py-4 py-md-5 aside-stretch d-flex align-items-center">
					<div class="w-100">
						<span class="subheading">Subscribe to our</span>
						<h3 class="heading-section">Newsletter</h3>
					</div>
				</div>
				<div class="col-md-8 py-4 py-md-5  ps-5 d-flex align-items-center pl-md-5 aside-stretch-right">
					<form action="#" class="subscribe-form w-100">
						<div class="form-group d-flex">
							<input type="text" class="form-control rounded-left" placeholder="Enter email address">
							<button type="submit" class="form-control submit"><span>Submit</span></button>
						</div>
					</form>
				</div>
			</div>
			<div class="row pt-4">
				<div class="col-md-3 col-lg-6 order-md-last">
					<div class="row justify-content-end">
						<div class="col-md-12 col-lg-9 text-md-right mb-md-0 mb-4">
							<h2 class="footer-heading"><a href="#" class="logo"><img src="img/footerlogo.png"></a></h2>
							<p class="copyright">
								Copyright @2021 Medical Equipment
								All rights reserved
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-lg-6">
					<div class="row">
						<div class="col-md-4 mb-md-0 mb-4">
							<h2 class="footer-heading">Quick Links</h2>
							<ul class="list-unstyled">
								<li><a href="#" class="py-1 d-block"><span
											class="ion-ios-checkmark-circle-outline mr-2"></span>Our Hospital</a></li>
								<li><a href="#" class="py-1 d-block"><span
											class="ion-ios-checkmark-circle-outline mr-2"></span>Services</a></li>
								<li><a href="#" class="py-1 d-block"><span
											class="ion-ios-checkmark-circle-outline mr-2"></span>Support</a></li>
							</ul>
						</div>
						<div class="col-md-4 mb-md-0 mb-4">
							<h2 class="footer-heading">Appointment</h2>
							<ul class="list-unstyled">
								<li><a href="#" class="py-1 d-block"><span
											class="ion-ios-checkmark-circle-outline mr-2"></span>Booking
									</a></li>
								<li><a href="#" class="py-1 d-block"><span
											class="ion-ios-checkmark-circle-outline mr-2"></span>Contact Us
									</a></li>

							</ul>
						</div>
						<div class="col-md-4 mb-md-0 mb-4">
							<h2 class="footer-heading">Information</h2>
							<ul class="list-unstyled">
								<li><a href="#" class="py-1 d-block"><span
											class="ion-ios-checkmark-circle-outline mr-2"></span>Sed ut perspiciatis
										unde</a></li>
								<li><a href="#" class="py-1 d-block"><span
											class="ion-ios-checkmark-circle-outline mr-2"></span>Sed ut perspiciatis
										unde</a></li>
								<li><a href="#" class="py-1 d-block"><span
											class="ion-ios-checkmark-circle-outline mr-2"></span>Sed ut perspiciatis
										unde</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="./js/all.js"></script>

	</body>

	</html>