  <partial src="header.html"></partial>

  <section class="banner" id="banner" style="background-image: url('img/banner.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 order-last order-md-first banner-captions">
          <h1>Lorem ipsum dolor sit amet consectetur </h1>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          <a href="#" class="btn btn-secondary">Book Now</a>
        </div>

      </div>
    </div>
  </section>
  </section>

  <section class="box-tech">
    <div class="container px-4 py-5" id="tech">
      <div class="row g-4 py-5 row-cols-1 row-cols-sm-2 row-cols-lg-4">
        <div class="tech col mb-2  mb-lg-0">
          <div class="techbox">
            <div class="tech-icon">
              <img src="img/tech1.jpg">
            </div>
            <h2>Technologies 1</h2>
            <p>Lorem ipsum dolor sit eiusmod , adipiscing, sed do eiusmod tempor.</p>
            <a href="#" class="techicon-link">
              Read More...
            </a>
          </div>
        </div>
        <div class="tech col">
          <div class="techbox">
            <div class="tech-icon">
              <img src="img/tech2.jpg">
            </div>
            <h2>Technologies 1</h2>
            <p>Lorem ipsum dolor sit eiusmod , adipiscing, sed do eiusmod tempor.</p>
            <a href="#" class="techicon-link">
              Read More...
            </a>
          </div>
        </div>
        <div class="tech col">
          <div class="techbox">
            <div class="tech-icon">
              <img src="img/tech3.jpg">
            </div>
            <h2>Technologies 1</h2>
            <p>Lorem ipsum dolor sit eiusmod , adipiscing, sed do eiusmod tempor.</p>
            <a href="#" class="techicon-link">
              Read More...
            </a>
          </div>
        </div>
        <div class="tech col">
          <div class="techbox">
            <div class="tech-icon">
              <img src="img/tech4.jpg">
            </div>
            <h2>Technologies 1</h2>
            <p>Lorem ipsum dolor sit eiusmod , adipiscing, sed do eiusmod tempor.</p>
            <a href="#" class="techicon-link">
              Read More...
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="welcome">

    <div class="container">
      <div class="row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="img/welcome.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h3 class="display-5 fw-bold lh-1 mb-3">Welcome to<br> Medical Equipment </h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo.</p>
          <ul class="icon-list">
            <li><a href="#"><img src="img/li-ico.png">laudantium</a> </li>
            <li><a href="#"><img src="img/li-ico.png">Doloremque laudantium</a>
            </li>
            <li><a href="#"><img src="img/li-ico.png">Doloremque laudantium</a></li>
            <li><a href="#"><img src="img/li-ico.png">Doloremque laudantium</a></li>
            <li><a href="#"><img src="img/li-ico.png">Doloremque laudantium</a></li>
          </ul>

        </div>
      </div>
    </div>

  </section>

  <section class="blog">

    <div class="container px-4 py-5">
      <div class="row  align-items-lg-start g-5 py-5">
        <div class="col-12 col-sm-4 col-lg-3">
          <h4 class="display-5 fw-bold lh-1 mb-3">Latest from<br>
            Our Blogs</h4>
        </div>
        <div class="col-12 col-lg-9">
          <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel" data-slide-to="0" class="active bg-secondary"></li>
              <li data-target="#carousel" data-slide-to="1" class="bg-secondary"></li>
              <li data-target="#carousel" data-slide-to="2" class="bg-secondary"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">

                  <div class="col-12 col-md-4 col-xl-4 mb-4">
                    <div class="  mr-3">
                      <img src="img/blog1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text
                          of the printing and typesetting industry</p>
                        <a href="#">Read more...</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-xl-4 mb-4">
                    <div class="  mr-3">
                      <img src="img/blog1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text
                          of the printing and typesetting industry</p>
                        <a href="#">Read more...</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-xl-4 mb-4">
                    <div class="mr-3">
                      <img src="img/blog1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p>Lorem Ipsum is simply dummy text
                          of the printing and typesetting industry</p>
                        <a href="#">Read more...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <partial src="footer.html"></partial>